/* цвет основного текста #757575 */
/* цвет вторичный #212121 */
/* цвет акцент #2196F3 */
/* цвет бекграунд #2F303A */

/* Стили для html */
:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196F3;
    --background-color: #2F303A;
}


body {
    background-color: #fff;
    color: var(--primary-text-color);
}
.list {
    list-style: none;
}

/* site-nav */

.colorweb {
    color: var(--accent-color);
}
.colorstudio {
    color: #000000;
}
.colorstudio-second {
    color: #fff;
}


.site-nav a {
    color: var(--secondary-text-color);
}
.site-nav a.current {
    color: var(--accent-color);
}

.site-nav a:hover,
.site-nav a:focus,
.contact-footer a:hover,
.contact-footer a:focus {
    color: var(--accent-color);
}
.contact a {
    color: var(--primary-text-color);
}
.contact a:hover,
.contact a:focus {
    color: var(--accent-color);
}

/* baner */
.baner {
    background-color: var(--background-color);
}
.baner-title {
    color: #fff;
}

/* section */
.section-title {
    color: var(--secondary-text-color);
}

/* footer */
.footer {
    background-color: var(--background-color);
}
.contact-footer a {
    color: rgba(255, 255, 255, 0.6);
}
/* button */
.button {
    color: #fff;
    background-color: var(--accent-color);
}