/* цвет основного текста #757575 */
/* цвет вторичный #212121 */
/* цвет акцент #2196F3 */
/* цвет бекграунд #2F303A */

body {
    background-color: #fff;
    color: #757575;
}
.list {
    list-style: none;
}

/* site-nav */

.colorweb {
    color: #2196F3;
}
.colorstudio {
    color: #000000;
}
.colorstudio-second {
    color: #fff;
}


.site-nav a {
    color: #212121;
}

.site-nav a:hover,
.site-nav a:focus,
.contact-footer a:hover,
.contact-footer a:focus {
    color: #2196F3;
}
.contact a {
    color: #757575;
}
.contact a:hover,
.contact a:focus {
    color: #2196F3;
}

/* baner */
.baner {
    background-color: #2F303A;
}
.baner-title {
    color: #fff;
}

/* section */
.section-title {
    color: #212121;
}

/* footer */
.footer {
    background-color: #2F303A;
}
.contact-footer a {
    color: rgba(255, 255, 255, 0.6);
}